<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta property="og:url"           content="https://ho4040.github.io/dev_words/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="프로그래머 영어공부 기초 영단어" />
  <meta property="og:description"   content="RFC 문서에서 자주 발생한 영단어 5000 모음" />
  <meta property="og:image"         content="https://i.imgur.com/YnerPZd.png" />

	<title>Developer words</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script>
		var app=angular.module('app', []);
		app.controller("MainCtrl", function($scope, $http){

			$scope.limitation = 100;

			$scope.input = {
				customInput:""
			}

			$scope.reload = function(){

				$http({method:"GET", url:"./result.csv"}).then(resp=>{

					var temp = resp.data.split("\n").map(row=>{ 
						var tokens = row.split(",")
						return { word:tokens[0], frequency:Number(tokens[1]) }
					}).filter(item=>{
						return !!item.frequency
					});

					$scope.result = temp.sort(function(a,b){
						return b.frequency - a.frequency;
					});

					$scope.result.length = 5000;

				}, err=>{
					console.log(err)
				})
			}

			$scope.analyse_custom_input = function(text){
				var dict = {};
				tokens=text.match(/[a-z]{3,15}/ig).map(e=>{ return e.toUppperCase().trim(); });
				for(var k in tokens){
					if(k in dict)
						dict[k]++;
					else
						dict[k]=0;
				}
				var words = Object.keys(dict);

				$scope.result = words.map(e=>{
					return { word:e, frequency:dict[e] }
				})

				$scope.limitation = 100;
			}

			$scope.reload();

		})
	</script>
</head>
<body ng-app="app" ng-controller="MainCtrl" class="container">

	<div class="row">
		<div class="col-md-6 col-xs-12">
			<h1><label>프로그래머 기초 영단어 5000</label></h1>
			<p><a href="https://github.com/ho4040/dev_words">https://github.com/ho4040/dev_words</a></p>
		</div>
		<div class="col-md-6 col-xs-12" style="padding:2em;">
			<div class="fb-like" data-href="https://ho4040.github.io/dev_words/" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<textarea class="form-control" ng-model="input.customInput" rows="5" placeholder="분석할 텍스트를 입력하세요"></textarea>			
		</div>
		<div class="col-xs-12">
			<button type="btn btn-default" ng-click="analyse_custom_input(input.customInput)">분석</button>
			<button type="btn btn-default" ng-click="reload()">리셋</button>
		</div>
	</div>

	<table class="table table-border table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Word</th>
				<th>Freq</th>
				<th>About</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in (result | limitTo:limitation:0) track by $index">
				<td>{{$index}}</td>
				<td>{{item.word}}</td>
				<td>{{item.frequency | number}}</td>
				<td>
					<a target="_blank" href="http://endic.naver.com/search.nhn?sLn=kr&isOnlyViewEE=N&query={{item.word}}">Def</a>
					<a target="_blank" href="https://www.google.co.kr/search?tbm=isch&q={{item.word}}">Image</a>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="text-center">
		<button class="btn btn-default" ng-click="limitation = limitation+100">More</button>			
	</div>


	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.12&appId=146244262847239&autoLogAppEvents=1';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>